*{
	margin:0;
	padding:0;
}

body{
/* font-family: 'Amatic SC', cursive; */
font-family: 'Roboto Mono', monospace;
}

h1{
	margin-left:20px;
}
.triangle{
	height:0;
	width:0;
	border-top:100vw solid white;
	border-right:100vw solid black;
	position:relative;
	overflow:hidden;
}

.darkText1{
color:black;
position:fixed;
top: 60px;
}

.darkText2{
color:black;
position:fixed;
top:180px;
}

.lightText1{
	color:white;
	position:fixed;
	top:120px;
}

.lightText2{
	color:white;
	position:fixed;
	top:240px;
}

.dark-sky{
	width:100vw;
	height:300vw;
	background-color:black;
}
.light-sky{
	width:100vw;
	height:300vw;
	background-color:white;
}
